* {
  margin: auto;
  border: 0;
}

title {
  font-size: 100px;
}

main {
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  font-size: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.hero {
  border: 2px;
  margin-top: 5px;
  margin-left: 5px;
  gap: 2px;
}

img {
  display: block;
  height: 205px;
  width: auto;
}

.p {
  background-color: cornflowerblue;
  color: snow;
  font-size: 5px;
  display: flex;
  flex-wrap: wrap;
  border: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.p2 {
  background-color: violet;
  color: steelblue;
  font-size: 5px;
  margin-top: 5px;
}
