* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero.image {
  width: 100px;
  height: 100px;
}

div alt-minions {
  width: 100px;
  height: 100px;
}

body {
  background-color: greenyellow;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 100px;
  color: violet;
}
h3 {
  font-size: 50px;
  color: blue;
}
