* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 203, 115);
}

header {
  border: 10px solid rgb(130, 6, 107);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  border: 5px solid orange;
  display: flex;
  flex-direction: column;
}

main {
  border: 50px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.container {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rgb(22, 203, 115);
}

section {
  border: 5px;
  font-size: 30px;
}

footer {
  border: 5px;
  top: 500px;
}
