* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

head {
  grid-row-start: 10%;
  grid-row-end: 10%;
  grid-column-start: 10%;
  grid-column-end: 10%;
}

.nav {
  grid-row-start: 10%;
  grid-row-end: 10%;
  grid-column-start: 10%;
  grid-column-end: 10%;
}

body {
  background-color: rgba(0, 0, 0, 0.619);
  display: grid;
  grid-template-rows: 10%;
  grid-template-columns: 10%;
}

.div {
  grid-row-start: 10%;
  grid-row-end: 10%;
  grid-column-start: 10%;
  grid-column-end: 10%;
}

img {
  width: 500px;
  height: auto;
}

header {
  grid-row-start: 10%;
  grid-row-end: 10%;
  grid-column-start: 10%;
  grid-column-end: 10%;
}

main {
  grid-row-start: 10%;
  grid-row-end: 10%;
  grid-column-start: 10%;
  grid-column-end: 10%;
}

footer {
  grid-row-start: 10%;
  grid-row-end: 10%;
  grid-column-start: 10%;
  grid-column-end: 10%;
}
.container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}
